.flex {
  height: 100%;
  display: flex;

  &--column{
    flex-direction: column;
  }

  &--middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    flex: 1;
  }
}
